<footer class="text-center text-lg-start text-white" style="background-color: rgb(207, 157, 157) ;">
    <section class="container d-flex justify-content-center justify-content-lg-between p-4">
      <div class="me-5 d-none d-lg-block">
        <span>Conecte-se conosco nas redes sociais:</span>
      </div>
      <div>
        <a href="" class="me-4 text-reset"><i class="fa fa-facebook"></i></a>
        <a href="" class="me-4 text-reset"><i class="fa fa-twitter"></i></a>
        <a href="" class="me-4 text-reset"><i class="fa fa-google"></i></a>
        <a href="" class="me-4 text-reset"><i class="fa fa-instagram"></i></a>
        <a href="" class="me-4 text-reset"><i class="fa fa-linkedin"></i></a>
        <a href="" class="me-4 text-reset"><i class="fa fa-github"></i></a>
      </div>
    </section>
  
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4"><i class="fa fa-cart-plus"></i> Eart</h6>
            <p>
              Eart.com é um destino único para as necessidades de moda da sua família.
               Damos-lhe a oportunidade de remodelar o seu guarda-roupa com as últimas coleções das nossas principais marcas.
            </p>
          </div>
  
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">Ganhe dinheiro conosco</h6>
            <p><a href="#!" class="text-reset">Venda no Eart</a></p>
            <p><a href="#!" class="text-reset">Anuncie seus produtos</a></p>
            <p><a href="#!" class="text-reset">Torne-se um afiliado</a></p>
            <p><a href="#!" class="text-reset">Cumprimento por Eart</a></p>
          </div>
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">Links úteis</h6>
            <p><a href="#!" class="text-reset">FAQ</a></p>
            <p><a href="#!" class="text-reset">Feedback</a></p>
            <p><a href="#!" class="text-reset">Sobre Nós</a></p>
            <p><a href="#!" class="text-reset">Entre em contato</a></p>
          </div>
          
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4"> Contato</h6>
            <p><i class="fa fa-home"></i> Carrllosz </p>
            <p><i class="fa fa-envelope"></i> info@example.com</p>
            <p><i class="fa fa-phone"></i> + 99 999999999</p>
          </div>
  
        </div>
      </div>
    </section>
    <div class="text-center p-4">
      &copy;  2022 Copyright <a class="text-reset fw-bold" href="#"> Carrllosz.in</a>
    </div>
  </footer>